ETHERSCAN_API_KEY=VS7PRSJ5EZNSXDBZJNWV72JNJ45AEFYTJF
RINKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
MAINNET_URL=https://eth-mainnet.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=YOUR_PRIVATEKEY